---
layout: nil
---

@using Pretzel.Logic.Templating.Context
@using WebsitePlugin;
@Include( "htaccess.cstxt", Model, typeof( PageContext ) )

ErrorDocument 404 /404/

# Redirect webfingers to the bots webfinger page
@foreach( ClockBotInfo clockBot in Model.Site.GetClockBotInformation() )
{
    string webfinger = clockBot.get_WebFinger();
    string webUrl = clockBot.get_WebFingerUrl().ToString();
@:RewriteCond %{REQUEST_URI} ^/.well-known/webfinger$
@:RewriteCond %{QUERY_STRING} ^resource=acct:@(webfinger)$
@:RewriteRule ^(.*)$ @(webUrl) [R=301,L]
}
