---
layout: layout
---

@{
    const int numberPosts = 5;
    var recentPosts = Model.Site.Posts.OrderByDescending(
        p => p.Date
    ).Take( numberPosts ).ToArray();
}

<div class="row">
    <div class="col-md-8 blog-main">
        @Raw( Model.Content )
    </div>
    <aside class="col-md-4 blog-aside">
        <div class="aside-widget">
            <header>
                <h3>Pages</h3>
            </header>
            <div class="body">
                <ul class="clean-list">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about/">About</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="aside-widget">
            <header>
                <h3>Bot List</h3>
            </header>
            <div class="body">
                <ul class="clean-list">
                    <li>
                        <a href="/bots/">All Bots</a>
                    </li>
                    <li>
                        <a href="/bots/clockbots/">Clock Bots</a>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
</div>
